<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Zipzop">
        <activity
            android:name=".ResumoVendaAcitivity"
            android:exported="false" />
        <activity
            android:name=".CaixaAbertoActivity"
            android:exported="false"
            android:label="Caixa Aberto"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".NovaVendaActivity"
            android:exported="false"
            android:label="Nova Venda"
            android:parentActivityName=".VendaActivity"></activity>
        <activity
            android:name=".VendaActivity"
            android:exported="false"
            android:label="Lista de Vendas"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".AbrirCaixaActivity"
            android:exported="false"
            android:label="Novo Caixa"
            android:parentActivityName=".CaixaActivity"></activity>
        <activity
            android:name=".CaixaActivity"
            android:exported="false"
            android:label="Caixa"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".SalvarProdutoActivity"
            android:exported="false"
            android:label="Produto"
            android:parentActivityName=".ProdutoActivity"></activity>
        <activity
            android:name=".ProdutoActivity"
            android:exported="false"
            android:label="Lista de Produtos"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>